.search-upload-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  width: 100%;
  margin-top: 2rem;
}

.left-panel {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-list-section {
  margin-top: 2rem;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}